<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC</title>
    <script
      src="https://cdn.socket.io/4.3.2/socket.io.min.js"
      integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="roomInfo">Room ID: <input type="text" id="roomId" /></div>
      <div class="stream">
        <div class="video">
          <video id="localVideo" autoplay></video>
          <video id="remoteVideo" autoplay></video>
        </div>
        <div class="button">
          <button id="startBtn">open</button>
          <button id="callBtn" disabled>call</button>
          <button id="answerBtn" disabled>answer</button>
        </div>
      </div>
    </div>
    <script src="./script.js"></script>
  </body>
</html>
